*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting the font sizes as variables  */
:root{
    --primary-font-size: 1.5rem;
    --secondary-font-size:1.2rem;
}


/* Setting the video background by making the position absolute, setting the height and width to 100%, adjusting the z index and opacity  */
.background video{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.7;
    z-index: -4;
}

/* Adding a sort of filter like effect on the video background by having the similar position abilities to .background video and set a z index greater than it. The important attribute here is mix-blend-mode which is set to overlay */
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(102, 51, 153);
    mix-blend-mode: overlay;
    z-index: -2;
}


/* Here comes the main content with position set to absolute */
#main{
    color: white;
    width: 100%;
    /* min-height: 100vh; */
    position: absolute;
    top: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    font-size: var(--primary-font-size);
    padding: 100px 20px;
    font-family: 'Spline Sans', sans-serif;
}

/* The main heading  */
#main h1{
    font-family: 'Poppins', sans-serif;;
}

/* The description  */
#main p{
    font-size: var(--secondary-font-size);
}

/* The main form with display set to flex the direction being column. The background color is set with 0.5 opacity with the same color as the one used in .overlay  */
#survey-form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 70%;
    margin: 20px;
    background-color:rgba(102, 51, 153,0.5);
    border-radius: 10px;
    font-size: var(--secondary-font-size);
}


/* Setting the basic css properties for input elements for the form. Added some padding and vertical margin. Set the opacity  */
.form-control{
    padding: 10px;
    opacity: 0.7;
    margin:10px 0 30px 0;
    font-size: var(--secondary-font-size);
}


.form-control:hover, .form-control:focus{
    opacity: 1;
}

/* Increasing the size of the radio buttons  */
input[type="radio"]{
    height: 20px;
    width: 20px;
}

#submit{
    padding: 10px;
    font-size: var(--secondary-font-size);
}

.text-center{
    text-align: center;
}


/* Added the media queries to make the page responsive  */
@media (max-width:800px) {
    
    #survey-form{
        width: 90%;
    }
}

@media (max-width:500px) {
    :root{
    --primary-font-size: 1.3rem;
    --secondary-font-size:1.1rem;
    }

    #survey-form{
        padding:20px 20px;
        width: 100%;
    }
    #main{
        padding: 50px 10px;
    }
}